    
/** 
reset css
 **/
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
	table{border-collapse:collapse;border-spacing:0;}
	caption,th{text-align:left;font-weight:normal;}
	html,body,fieldset,img,iframe,abbr{border:0;}
	i,cite,em,var,address,dfn{font-style:normal;}
	[hidefocus],summary{outline:0;}
	li{list-style:none;}
	h1,h2,h3,h4,h5,h6,small{font-size:100%;}
	sup,sub{font-size:83%;}
	pre,code,kbd,samp{font-family:inherit;}
	q:before,q:after{content:none;}
	textarea{overflow:auto;resize:none;}
	label,summary{cursor:default;}
	a,button{cursor:pointer;}
	h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:normal;}
	del,ins,u,s,a,a:hover{text-decoration:none;}
	div { box-sizing:border-box; }
    img {
      width: 100%;
      height: auto;
    }


/** 整体样式 **/
html,
body {
    font-family: Helvetica, Arial ,
    "Microsoft YaHei", "SimSun", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
    height: 100%;
    -webkit-user-select:none;
       -moz-user-select:none;
}

::-webkit-input-placeholder { 
  color:#cecece;
  font-size: 16px;
}
::-moz-placeholder { 
  color:#cecece;
  font-size: 16px;
}
:-ms-input-placeholder { 
  color:#cecece;
  font-size: 16px;
}
input:-moz-placeholder { 
  color:#cecece;
  font-size: 16px;
}

/** Begin Prompt Bar **/
#wrapper {
  overflow: hidden;
  background-color: #f8f8f8;
}

.mask {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
}

.video-area, 
.login-area {
  display: none;
}

.video-content {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -480px;
  margin-top: -290px;
  padding: 32px;
  width: 960px;
  height: 580px;
  background: #fff;
}

.close-btn {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
  background: url(../img/video-close.png) no-repeat 0 0; 
}

.video-content p {
  margin-bottom: 10px;
}

.login-content {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -145px;
  margin-left: -195px;
  width: 390px;
  height: 290px;
  background-color: #fff;
  padding: 30px;
}

.login-area h3 {
  font-size: 18px;
  color: #444;
  font-weight: normal;
  margin-bottom: 30px;
}

.login-area input {
  display: block;
  width: 100%;
  height: 45px;
  background-color: #fafafa;
  border: 1px solid #cecece;
  color: #333;
  padding-left: 15px;
  margin-bottom: 20px;
  font-size: 18px;
  box-sizing: border-box;
}

#submit-btn {
  width: 100%;
  height: 50px;
  line-height: 50px;
  color: #fff;
  background-color: #21a557;
  font-size: 18px;
  letter-spacing: 5px;
  text-align:center; 
  cursor: pointer;
}

.login-area input:focus {
  outline: none;
}

.prompt-bar {
  width: 100%;
  height: 36px;
  background-color: #f3f3f3;
  transition: .5s;
}

.prompt-bar-content {
  position: relative;
  width: 960px;
  height: 36px;
  margin: 0 auto;
  line-height: 36px;
  font-size: 12px;
}

.prompt-bar-content p {
  position: absolute;
  left: 0;
}

.prompt-bar-content a {
  color: #21a557;
  margin-left: 16px;
}

.no-more-prompt {
  position: absolute;
  right: 0;
  width: 62px;
  background: url(../img/close.jpg) no-repeat 0 50% ;
  text-align: right;
  cursor: pointer;
}

/** End Prompt Bar **/

/** Begin Head Area **/
.header-content {
  width: 960px;
  height: 90px;
  margin: 0 auto;
  line-height: 90px;
}

.logo {
  float: left;
  margin-right: 36px;
  font-size: 22px;
}

.logo span {
  width: 110px;
  padding-right: 10px;
  margin-right: 10px;
  color: #21a557;
  border-right: 1px #21a557 solid;
}

.follow-fans-area {
  float: left;
  overflow: hidden;
}

.follow-btn,
.cancel-follow-btn-area {
  display: inline-block;
  height: 20px;
  margin-right: 10px;
  padding: 0 10px;
  line-height: 20px;
  text-align: center;
  border-radius: 2px;
  background-color: #21a557;
  color: #fff;
  font-size: 12px;
  cursor: pointer; 
}

.cancel-follow-btn-area {
  display: none;
  border: 1px solid #EFEFEF;
  background: #F8F8F8 url(../img/followed-icon.png) no-repeat 0 0;
  color: #333;
  cursor: inherit;
  padding-left: 15px;
}

.cancel-follow-btn{
  color: #ccc;
  padding: 0 5px;
  border-left: 1px solid #ccc;
  margin-left: 10px;
  cursor: pointer;
}

.cancel-follow-btn:hover {
  color: #21a557;
}

.fans-num-area {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
}

.num-of-fans { margin-left: 4px; }

.products-link-list {
  
  float: right;
}

.products-link-list li {
  display: inline-block;
  margin-left: 54px;
}

.products-link-list li:last-child {
  
  margin-left: 30px;
}

.products-link-list li a {
  color: #333;
}

.products-link-list li a img {
  vertical-align:text-top;
}

.products-link-list li a:hover {
  color: #21a557;
}

/** End Head Area **/

/** Begin Slideshow**/
.Slideshow-area {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 460px;
}

.Slideshow-item {
  position: absolute;
  z-index: -9999;
  width: 100%;
}

.Slideshow-images img {
  opacity: 0;
  width: 100%;
  transition: opacity .5s ease-in-out;
}



.Slideshow-indicators {
  position: absolute;
  left: 50%;
  margin-left: -42px;
  bottom: 20px;
  width: 84px;
  height: 14px;
  z-index: 10000;
}

.Slideshow-indicators li{
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 12px;
  background-color: #fff;
  border-radius: 50%;
}

.Slideshow-indicators li.active {
  background-color: #000;
}

/** End Slideshow Area **/

/** Begin Products Intro Area **/

.products-intro-area {
  width: 100%;
  height: 296px;
}

.products-intro-list {
  width: 960px;
  margin: 0 auto;
  padding-top: 62px;
  font-size: 0px; /* 消除inline-block的间隙 */
}

.products-intro-list li {
  display: inline-block;
  overflow: hidden;
  width: 33.333%;
  box-sizing: border-box;
}

.products-intro-list .open {
  background: url(../img/icon-open.png) no-repeat 0px 8px;
}

.products-intro-list .study {
  background: url(../img/icon-study.png) no-repeat 0px 8px;
}

.products-intro-list .mooc {
  background: url(../img/icon-mooc.png) no-repeat 0px 8px;
}

.products-intro-list .intro-area {
  font-size: 14px;
}

.intro-area {
  float: right;
  width: 58%;
  color: #333;
  margin-right: 38px;
}

.products-intro-list h3 {
  font-size: 22px;
  margin-bottom: 5px;
}

.products-intro-list p {
  color:#666;
  text-align: justify;
  margin-bottom: 10px;
}

.products-intro-list a {
  color: #21a557;
}

.products-intro-list a:hover {
  text-decoration: underline;
}

/** End Products Intro Area **/

/** Begin Image Display Area **/
.images-display-area {
  overflow: hidden;
  width: 100%;
  height: 222px;
}

.images-display-area img {
  height: 222px;
  width: 19.72%;
}

/** End Image Display Area **/

/** Begin Image Display Area **/
.content {
  position: relative;
  width: 980px;
  margin: 80px auto 120px auto;
}

.tab-btn {
  display: inline-block;
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  -webkit-box-shadow: 0 2px 2px #ccc;
          box-shadow: 0 2px 2px #ccc;
}

.tab-btn a {
  color: #000;
}

.tab-btn.active {
  background-color: #21a557;
}

.tab-btn.active a {
  color: #fff;
}

.programming-language {
  margin-left: -4px;
}

.course-display-area {
  margin-top: 32px;
  width: 780px;
}

/* 响应式解决方案 */
@media (min-width: 1205px) {

  .course-display-area li {
     width: 24%;
  }
  .side-area { width: 19%; }

}

@media (max-width: 1205px) {

  .course-display-area li {
      width: 29.33%;
  }
  .side-area { width: 24.5%; }
  
  .images-display-area .last-image {
    margin-right: -100%; /* 解决了当窗口小于一定宽度时最后一张图片换行的问题 */
  }
  
}
/* 课程浮层介绍*/

#coursefloat{
	width:490px;
	height:auto;
	box-shadow:0 2px 2px #ccc;
	font-size:13px;
	color:#666666;
	z-index:1000;
	position:fixed;
	border:2px solid #400000;
	 background-color:#F0F0E1;
}

.coursefloat-desc {
	width:484px;
	height:auto;
	margin-top:2px;
	padding:20px ;
	background-color:#DBDBEA;
	overflow:hidden;
	zoom:1;
	text-overflow:ellipsis;
}
.coursefloat-img{
	width:221px;
	height:138px;
	float:left;
	padding:10px;
}
.coursefloat-title{
	width:263px;
	height:138px;
	float:left;
	padding:10px;
}
.learning-person-area{
	background: url(../img/user.png) no-repeat ;
	margin:10px 0;
}
.coursefloat-p{
	line-height:22px;
}
.learning-person{
	padding-left:16px;
}
.coursefloat-title h5{
	font-size:19px;
	font-style:bold;
	color:black;
}

/* 课程浮层介绍 结束*/

.course-item {
  display: inline-block;
  height: 230px;
  overflow: hidden;
  margin-bottom: 0.5%;
  margin-right: 0.5%;
  -webkit-box-shadow: 0 2px 2px #ccc;
          box-shadow: 0 2px 2px #ccc;
}

.course-item:hover {
  cursor: pointer;
-webkit-box-shadow: 1px 1px 2px 2px #cecece;
          box-shadow: 1px 1px 2px 2px #cecece;
}

.course-item .components {
  padding: 10px;
}

.course-item p {
  white-space: nowrap;
  overflow: hidden;
  padding-bottom: 10px;
  text-overflow: ellipsis;
  font-size: 12px;
}

.course-item:hover .course-intro {
  color: #21a557;
}

.course-tag { color: #bbb; }

.course-price { 
  color: #ff3f00; 
  font-weight: bold;
}

.enroll-people-num-area {
  display: inline-block;
  height: 22px;
  line-height: 18px;
  margin-bottom: 10px;
  padding: 0 2px;
  border: 1px #bbb solid;
  border-radius: 4px;
  background: url(../img/user.png) no-repeat 1px 2px;
}

.enroll-people-num { 
  font-size: 10px;
  padding-left: 16px;
  color: #bbb;
}

.side-area {
  position: absolute;
  top: 0;
  right: 0;
  height: 1035px;
 
}

.institution-intro-area {
  box-sizing:border-box;
  width: 100%;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 2px 2px #ccc;
          box-shadow: 0 2px 2px #ccc;  
}

.side-area h3 {
  box-sizing:border-box;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #cecece;
  line-height: 40px;
  text-align: left;
  font-size: 16px;
  font-weight: normal;
  padding-left: 14px;
  
}

.intro-video-thumbnail-area {
  padding: 14px;
}

.intro-video-thumbnail-area img {
  cursor: pointer;
}

.intro-video-thumbnail-area p {
  font-size: 14px;
  color: #666;
  padding: 10px 0;
}

.hot-ranking-area {
  width: 100%;
  height: 790px;
 -webkit-box-shadow: 0 2px 2px #ccc;
          box-shadow: 0 2px 2px #ccc;   
}

.hot-ranking-list {
  padding: 14px;
}

.hot-ranking-item {
  height: 50px;
  width: 100%;
  margin-bottom: 20px;
}

.hot-ranking-item :hover{
  cursor:pointer;
}

.hot-ranking-item .img-wrapper { 
  width: 50px;
  height: 50px;
  overflow: hidden;
  float: left;
  margin-right: 12px;
}

.hot-ranking-item img {
  width: auto;
}

.hot-ranking-item .enroll-people-num-area {
  border: none;
}

.hot-ranking-item h4 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: normal;
  color: #666;
  font-size: 14px;
  margin: 0;
}

.page-nav-area {
  position: absolute;
  bottom: -64px;
  right: 10px;
}

.page-nav-btn { margin: 0 40px;}

.page-nav-btn li {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  text-align: center;
  line-height: 20px;
  cursor: pointer;
}

.page-nav-btn .item {color: #000;}

.page-nav-btn .item:hover {
  background-color: #9FD7B2;
  color: #fff;
}

.page-nav-btn .active {
  color: #21a557;
}

.last-page,
.next-page {
  position: absolute;
  top: 0;
  width: 30px;
  height: 20px;
  background-color: #9FD7B2;
  text-align: center;
  line-height: 20px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-right: 12px;
}

.last-page { left: 0 }

.next-page { right: 0;}


.footer-area {
  width: 100%;
  height: 262px;
  background-color: #2C3339;
  padding-top: 82px;
}

.footer-content {
  width: 960px;
  margin: 0 auto
}

.info-list {
  float: right;
}

.info-list dl {
  margin-right: 100px;
  color: #939699;
  display: inline-block;
}

.friend-links a { color: #939699}

.edu-section-info { float: left;}

.edu-section-info .logo {
  float: none;
  display: block;
  color: #21a557;
  margin-bottom: 26px;
}

.edu-section-info p {
  color: #939699;
  font-size: 12px;
}









